<div class="d-flex align-items-center justify-content-between mx-2 my-3">
  <div mdbDropdown class="dropdown">
    <div class="d-flex align-items-center" role="button" mdbDropdownToggle>
      <i class="fas fa-user-circle fa-2x"></i>
      <span class="ms-2 mt-1">{{appSession.userName}}</span>
    </div>
    <div mdbDropdownMenu class="dropdown-menu">
      <a class="dropdown-item" [routerLink]="['update-password']">
        <i class="fas fa-user-edit"></i> {{ "UpdatePassword" | localize }}
      </a>
      <a class="dropdown-item" href="javascript:;" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> {{ "Logout" | localize }}
      </a>
    </div>
  </div>
  <sidebar-language-menu class="ms-2 mt-1"></sidebar-language-menu>
</div>